.App {
  display: flex;
  justify-content: center;
}
.calculator-container {
  width: 25%;
  height: 50%;
  position: absolute;
  top: 25%;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-gap: 5px;
  grid-auto-rows: auto;
  grid-template-areas:
    "a a a a"
    "b b c d"
    "e f g h"
    "i j k l"
    "m n o p"
    "q q r s";
}

.calculator-container > *:hover {
  cursor: pointer;
}

.entry-div {
  grid-area: a;
  border: 1px solid black;
  display: flex;
  justify-content: flex-end;
  margin: 1px;
  font-size: 300%;
  align-items: flex-end;
  min-height: 85.22px;
}

.entry-div:hover {
  cursor: text;
}

.entry-div-equals {
  border: 2px solid rgb(39, 163, 14);
  margin: 0px;
}

.entry-div-large {
  font-size: 200%;
}

.clear-div {
  grid-area: b;
  border: 1px solid black;
  text-align: center;
}

.last-value-clear-div {
  grid-area: c;
  border: 1px solid black;
  text-align: center;
}

.equals-div {
  grid-area: s;
  border: 1px solid black;
  text-align: center;
}

.addition-div {
  grid-area: d;
  border: 1px solid black;
  text-align: center;
}

.addition-div-highlight {
  border: 1px solid rgb(223, 61, 161);
}

.subtraction-div {
  grid-area: h;
  border: 1px solid black;
  text-align: center;
}

.subtraction-div-highlight {
  border: 1px solid rgb(223, 61, 161);
}

.multiplication-div {
  grid-area: l;
  border: 1px solid black;
  text-align: center;
}

.multiplication-div-highlight {
  border: 1px solid rgb(223, 61, 161);
}

.division-div {
  grid-area: p;
  border: 1px solid black;
  text-align: center;
}

.division-div-highlight {
  border: 1px solid rgb(223, 61, 161);
}

.point-div {
  grid-area: r;
  border: 1px solid black;
  text-align: center;
}

.point-div:hover {
  grid-area: r;
  border: 1px solid rgb(235, 127, 193);
  text-align: center;
}

.zero-div {
  grid-area: q;
  border: 1px solid black;
  text-align: center;
}

.zero-div:hover {
  grid-area: q;
  border: 1px solid rgb(235, 127, 193);
  text-align: center;
}

.one-div {
  grid-area: m;
  border: 1px solid black;
  text-align: center;
}

.one-div:hover {
  grid-area: m;
  border: 1px solid rgb(235, 127, 193);
  text-align: center;
}

.two-div {
  grid-area: n;
  border: 1px solid black;
  text-align: center;
}

.two-div:hover {
  grid-area: n;
  border: 1px solid rgb(235, 127, 193);
  text-align: center;
}

.three-div {
  grid-area: o;
  border: 1px solid black;
  text-align: center;
}

.three-div:hover {
  grid-area: o;
  border: 1px solid rgb(235, 127, 193);
  text-align: center;
}

.four-div {
  grid-area: i;
  border: 1px solid black;
  text-align: center;
}

.four-div:hover {
  grid-area: i;
  border: 1px solid rgb(235, 127, 193);
  text-align: center;
}

.five-div {
  grid-area: j;
  border: 1px solid black;
  text-align: center;
}

.five-div:hover {
  grid-area: j;
  border: 1px solid rgb(235, 127, 193);
  text-align: center;
}

.six-div {
  grid-area: k;
  border: 1px solid black;
  text-align: center;
}

.six-div:hover {
  grid-area: k;
  border: 1px solid rgb(235, 127, 193);
  text-align: center;
}

.seven-div {
  grid-area: e;
  border: 1px solid black;
  text-align: center;
}

.seven-div:hover {
  grid-area: e;
  border: 1px solid rgb(235, 127, 193);
  text-align: center;
}

.eight-div {
  grid-area: f;
  border: 1px solid black;
  text-align: center;
}

.eight-div:hover {
  grid-area: f;
  border: 1px solid rgb(235, 127, 193);
  text-align: center;
}

.nine-div {
  grid-area: g;
  border: 1px solid black;
  color: black;
  text-align: center;
}

.nine-div:hover {
  grid-area: g;
  border: 1px solid rgb(235, 127, 193);
  text-align: center;
}
