.App{
  display: flex;
  position: relative;
  height: 500px;
}

.calculator-container{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: grid;
  width: 400px;
  grid-template-columns: repeat(4, 25%);
  grid-gap: 5px;
  grid-auto-rows: auto;
  grid-template-areas: 
      "a a a a"
      "b b c d"
      "e f g h"
      "i j k l"
      "m n o p"
      "q q r s";
}

.calculator-container > *:hover{
  cursor: pointer;
}

.entry-div{
  grid-area: a;
  border: 1px solid black;
  text-align: right;
}

.entry-div:hover{
  cursor: text;
}

[contentEditable=true]:empty:not(:focus):before{
  content:attr(data-text)
}

.clear-div{
  grid-area: b;
  border: 1px solid black;
  text-align: center;
}

.last-value-clear-div{
  grid-area: c;
  border: 1px solid black;
  text-align: center;
}

.equals-div{
  grid-area: s;
  border: 1px solid black;
  text-align: center;
}

.add-div{
  grid-area: d;
  border: 1px solid black;
  text-align: center;
}

.subtract-div{
  grid-area: h;
  border: 1px solid black;
  text-align: center;
}

.multiply-div{
  grid-area: l;
  border: 1px solid black;
  text-align: center;
}

.divide-div{
  grid-area: p;
  border: 1px solid black;
  text-align: center;
}

.point-div{
  grid-area: r;
  border: 1px solid black;
  text-align: center;
}

.zero-div{
  grid-area: q;
  border: 1px solid black;
  text-align: center;
}

.one-div{
  grid-area: m;
  border: 1px solid black;
  text-align: center;
}

.two-div{
  grid-area: n;
  border: 1px solid black;
  text-align: center;
}

.three-div{
  grid-area: o;
  border: 1px solid black;
  text-align: center;
}

.four-div{
  grid-area: i;
  border: 1px solid black;
  text-align: center;
}

.five-div{
  grid-area: j;
  border: 1px solid black;
  text-align: center;
}

.six-div{
  grid-area: k;
  border: 1px solid black;
  text-align: center;
}

.seven-div{
  grid-area: e;
  border: 1px solid black;
  text-align: center;
}

.eight-div{
  grid-area: f;
  border: 1px solid black;
  text-align: center;
}

.nine-div{
  grid-area: g;
  border: 1px solid black;
  text-align: center;
}